.logo{
    padding: 1.5em;
    display: flex;
    gap: 1em;
}
.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
.PainelLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.Cadastro{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.7em;
    margin-bottom: 2em;
    margin-top: 1em;
}
.InputLogin1 {
    border: 2px solid #DEDEDE;
    color: #666666;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    outline: none;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 2em;
}
.InputLogin2 {
    border: 2px solid #DEDEDE;
    color: #666666;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    outline: none;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 2em;
}
.InputLogin3 {
    border: 2px solid #DEDEDE;
    color: #666666;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    outline: none;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 2em;
}
.InputLogin4 {
    border: 2px solid #DEDEDE;
    color: #666666;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    outline: none;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 4em;
}
.IniciarSessaoButton{
    color: #FEFEFE;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #4BC1D2;
    border-radius: 0.5em;
    padding: 0.5em;
    border: none;
    width: 71%;
    margin-bottom: 2em;
}
.SemConta{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.Entrar{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4BC1D2;
}